@import 'tailwindcss';
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

}


@theme {
  --color-azure-primary: #05366B;
  --color-azure-primary-hover: #0056b3;
  --color-azure-secondary: #4A83C0;
  --color-azure-footer: #195492;
  --color-slate-gray: #6c757d;
  --color-light-dafe-gray: #d4d4d4d3;
  --color-dafe-gray-hover: #ebe8e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #dad8d8;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.navbar-mark {
  @apply bg-azure-primary text-white duration-300;
}

.navbar-mark-hover:hover {
  @apply bg-azure-primary text-white duration-300;
}

.gradient-bg {
  @apply bg-gradient-to-br from-[#1363B9] to-[#0B4079];
}

.card-shadow {
  @apply shadow-[-7px_7px_0px_0px_rgba(0,0,0,0.1)];
}

.btn-dafe{
 @apply bg-gradient-to-r from-[#05366B] to-[#0A6AD1] rounded-lg cursor-pointer transition duration-300 ease-in-out;
}

.btn-dafe-hover:hover {
  @apply bg-gradient-to-r from-[#001f4d] to-[#005bb5];
}